:root {
  --color-blue-500: #4199e1;
  --color-red-500: #f56666;
  --color-gray-100: #f8fafc;
  --color-gray-200: #edf2f7;
  --color-gray-300: #e2e8f0;
  --color-gray-400: #cbd5e0;
  --color-gray-500: #a0aec0;
  --color-gray-600: #718096;
  --color-gray-700: #4a5568;
  --color-gray-800: #2d3748;
  --color-gray-900: #1a202c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-900: #f8fafc;
    --color-gray-800: #edf2f7;
    --color-gray-700: #e2e8f0;
    --color-gray-600: #cbd5e0;
    --color-gray-500: #a0aec0;
    --color-gray-400: #718096;
    --color-gray-300: #4a5568;
    --color-gray-200: #2d3748;
    --color-gray-100: #1a202c;
    --color-red-500: hsl(0, 88%, 55%);
  }
}

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  color: var(--color-gray-800);
}

.header__button {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.fill-blue {
  fill: var(--color-blue-500);
}

.fill-gray {
  fill: var(--color-gray-800);
}

.fill-red {
  fill: var(--color-red-500);
}

.link {
  color: var(--color-blue-500);
  transition: all 200ms;
}

.link:hover {
  filter: brightness(125%);
}

.code {
  background-color: var(--color-gray-200);
  padding: 0.1em 0.35em;
  border-radius: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: 0.875rem;
}

.header__icons {
  display: flex;
  gap: 12px;
}

.header__icon {
  width: 24px;
  height: 24px;
}

.header__icon:hover {
  opacity: 0.8;
}

body {
  background-color: var(--color-gray-200);
  width: 30rem;
  position: relative;
}

main {
  padding: 16px 16px 0 16px;
}

.ide__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
  padding: 0 2em;
}

.ide__item {
  width: 56px;
  height: 56px;
  opacity: 0.25;
  transition: opacity 200ms ease-out;
}

.ide__item.selected {
  opacity: 1;
}

.ide__item:focus,
.ide__item:hover {
  opacity: 0.75;
  outline: none;
}

.explanation {
  background: var(--color-gray-100);
  text-align: center;
  padding: 1.5em 2em;
  font-size: 1rem;
}

.explanation__item--hidden {
  display: none;
}

.instructions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-gray-200);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.instructions--hidden {
  display: none;
}

.instructions__back {
  color: var(--color-gray-800);
  background: none;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 2em;
  left: 2em;
  width: 2rem;
  height: 2rem;
}

.instructions__title {
  margin: 0 0 0.75em;
  font-size: 1.5rem;
}

.instructions__list {
  font-size: 1rem;
  padding: 0;
  margin: 0 0 2rem;
}

.instructions__item {
  margin-bottom: 0.5em;
}
