*{
  font-family: Nunito, sans-serif;
  font-style: normal;
  margin: 0;
}
img {
  width: 20px;
  height: 20px;
}
body {
  display: flex;
  flex-direction: column;
  width: 310px;
  background-color: #EDF2F7;
}
.top-section{
  display: flex;
  text-align: left;
}
.select-editor{
  padding: 20px 0 0 16px;
}
.icons{
  padding: 20px 0 0 58px;
}
.icons > :first-child{
  padding-right: 8px;
}
.ide-grid{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 26px 28px;
}
.ide-grid > :nth-child(2n){
  padding: 16px 32px 0;
}
.ide-row{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
hr {
  border: 1px solid #E2E8F0;
}
.bottom-section{
  background: #F7FAFC;
  text-align: center;
  padding: 16px 28px;
}
.selected {
  background: red;
}
